.main-menu {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1px;
    background-color: #e7e7e7;
}

.main-menu a {
    cursor: default;
    color: black;
    padding: 1%;
}

.main-menu .navbar-collapse .navbar-nav .nav-item {
    text-align: center;
    width: 20%;
}

.main-menu .navbar-collapse .navbar-nav .nav-item .link-style {
    color: black;
    padding: 10%;
    cursor: pointer;
}

.slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.slider .carousel-inner .photo {
    height: 500px;
}

.slider .carousel-inner .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .carousel-inner .photo .text p {
    font-size: 100px;
}

.slider .control-size {
    height: 100px;
    width: 100px;
}

#header-main {
    margin-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#header-main h1 span {
    color: green;
}

#footer-main {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

#footer-main .container .row .col-md-3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer-main .container .row .col-md-3 .fa {
    font-size: 32px;
}

#footer-main .container .row .col-md-3 span {
    font-size: 25px;
    line-height: 25px;
}

#footer-main .container .row .col-md-3 a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
}

#gallery {
    text-align: center;
}

#gallery .gallery-row {
    margin: 10px auto;
}

#gallery .gallery-row .images {
    display: flex;
    justify-content: space-between;
}

#gallery .gallery-row .images .image .image-wrapper {
    overflow: hidden;
}

#gallery .gallery-row .images .image .image-wrapper img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s;
}

#gallery .gallery-row .images .image .image-wrapper img:hover {
    transform: scale(1.5);
}

#co-oferujemy {
    text-align: center;
}

#co-oferujemy .container .row .offering {
    text-align: center;
}

#co-oferujemy .container .row .offering i {
    font-size: 50px;
}

#co-oferujemy .container .row .offering h3 {
    font-size: 30px;
}

#co-oferujemy .container .row .offering p {
    font-size: 24px;
}

@media all and (max-width: 992px) {
    .main-menu .navbar-collapse .navbar-nav .nav-item {
        width: 100%;
        text-align: left;
    }

    .main-menu .navbar-collapse .navbar-nav .nav-item .link-style {
        padding: 3%;
    }

    .slider {
        margin-top: 40px;
    }

    .slider .carousel-inner .photo {
        height: 350px;
    }

    .slider .control-size {
        height: 30px;
        width: 30px;
    }

    #footer-main .container .row .col-md-3 .fa {
        font-size: 20px;
    }

    #footer-main .container .row .col-md-3 span {
        font-size: 16px;
    }

    #footer-main .container .row .col-md-3 a {
        font-size: 16px;
    }
}

@media all and (max-width: 768px) {
    .main-menu {
        width: 100%;
    }

    .slider {
        width: 100%;
    }

    #gallery .gallery-row .images .image {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #footer-main {
        width: 100%;
    }

    #footer-main .container .row .col-md-3 .fa {
        font-size: 30px;
    }

    #footer-main .container .row .col-md-3 span {
        font-size: 30px;
        line-height: 30px;
    }

    #footer-main .container .row .col-md-3 a {
        font-size: 30px;
        line-height: 30px;
    }
}

@media all and (max-width: 576px) {
    .main-menu {
        width: 100%;
    }

    .slider {
        width: 100%;
    }

    .slider .carousel-inner .photo {
        height: 200px;
    }

    #header-main h1 {
        font-size: 30px;
    }

    #header-main h2 {
        font-size: 16px;
    }

    #footer-main {
        width: 100%;
    }
}

body {
    background-image: url("../img/tlo.png");
    font-family: 'Montserrat', sans-serif;
}
