@media all and (max-width:1170px){
    .myPhoto{
        height: 70%;
        background-image: url('../obrazy/man-2.jpg');
        background-size: cover;
        background-position: center;
    }
    .description{
        top: 10%;
        left: 60%;
    }
      .description h2{
        font-size: 1.5em;
    }
}
@media all and (max-width:992px){
    .myPhoto{
        background-image: url('../obrazy/man-1.jpg');
        height: 50%;
        background-size: cover;
    }
    .description{
        width: 100%;
        text-align: center;
        top: 100%;
        color: black;
        right: 0;
        left: 0;
    }
}