@media all and (max-width: 1170px) {
    header {
        background-image: url(../obrazy/man-2.jpg);
        height: 70vh;
        min-height: 70vh;
    }
    .me {
        font-size: 1em;
        top: 25%;
        left: 60%;
    }
    .me h1{
        font-size: 1em;
    }
    .me h2{
        font-size: 1.5em;
    }
}

@media all and (max-width: 992px) {
    header {
        background-image: url(../obrazy/man-1.jpg);
        height: 50vh;
        min-height: 50vh;
    }
    
    .me {
        top: 100%;
        left: 0;
        right: 0;
        color: black;
        text-align: center;
    }
    
    .me h1 {
        padding-bottom: 3%;
        padding-top: 3%;
        font-size: 1em;
    }
    
    .me h2 {
        font-size: 1.5em;
    }
}