*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    width: 100vw;
}
.myPhoto{
    background-image: url('../obrazy/man-1.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: auto;
}
.description{
    position: absolute;
    left: 5%;
    top: 50%;
    color: white;
    line-height: 2;
}
.description h1{
    font-size: 1.5em;
}
.description h2{
    font-size: 2em;
}