@import '../variables/variables';
#about-me {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        .about-me-color {
            color: $font-dodatkowy;
        }
    }
    .container {
        .row {
            .col-md-6 {
                figure {
                    width: 300px;
                    margin: 10px auto;
                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }
        }
    }
}