@media all and (max-width:992px){
    .offer{
        height: 50%;
        top: 15%;
    }
    .product{
        height: 70%;
        width: 46%;
        margin: 1% 2%;
        box-sizing: border-box;
    }
}
@media all and (max-width:480px){
    .offer{
        top: 5%;
    }
    .product{
        width: 80%;
        height: 40%;
        margin: 1% 10%;
    }
}