@media all and (max-width: 992px) {
    .product {
        width: 40%;
        margin: 1% 5%;
    }
    .product:nth-child(3) {
        margin: 1% 5%;
    }
}
@media all and (max-width: 480px){
    .oferta{
       width: 100%; 
        left: 52%;
        margin-left: -50%;
    }
    .zdjecie{
        margin-left: 0.5%;
        margin-bottom: 0.5%;
        width: 95%;
    }
}