* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #98fb98;
}
/* stylowanie oferty poduktow */
.offer{
    width: 95%;
    height: 380px;
    margin-top: 25vh;
    padding: 0 2.5%;
} 
/* koniec stylowania oferty produktow */
/* stylowanie produktow */
.product{
    height: 100%;
    width: 22%;
    max-width: 800px;
    padding-top: 56.25%;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.product:nth-child(1){
    background-image: url('../obrazy/product-1.jpg');
}
.product:nth-child(2){
    background-image: url('../obrazy/product-2.jpg');
    margin-left: 4%;
}
.product:nth-child(3){
    background-image: url('../obrazy/product-3.jpg');
    margin-left: 4%;
}
.product:nth-child(4){
    background-image: url('../obrazy/product-4.jpg');
    margin-left: 4%;
}
/* koniec stylowania produktow */
/* stylowanie masek produktow */
.mask{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 111, 0, 0);
    position: relative;
    opacity: 0;
    transition: all 0.2s;
}
.product:hover .mask{
    background-color: rgba(255, 111, 0, 0.7);
    opacity: 1;
}
.mask .fa{
    display: block;
    position: absolute;
    top: 40%;
    font-size: 4em;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}
.clear{
    clear: both;
}