@media all and (max-width: 992px) {
    .main-menu {
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    width: 100%;
                    text-align: left;
                    .link-style {
                        padding: 3%;
                    }
                }
            }
        }
    }
    .slider {
        margin-top: 40px;
        .carousel-inner {
            .photo {
                height: 350px;
            }
        }
        .control-size {
            height: 30px;
            width: 30px;
        }
    }
    #footer-main {
        .container {
            .row {
                .col-md-3 {
                    .fa {
                        font-size: 20px;
                    }
                    span {
                        font-size: 16px;
                    }
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    .main-menu{
        width: 100%;
    }
    .slider{
        width: 100%;
    }
    #footer-main {
        width: 100%;
        .container {
            .row {
                .col-md-3 {
                    .fa {
                        font-size: 30px;
                    }
                    span {
                        font-size: 30px;
                        line-height: 30px;
                    }
                    a {
                        font-size: 30px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

@media all and (max-width: 576px) {
    .main-menu{
        width: 100%;
    }
    .slider {
        width: 100%;
        .carousel-inner {
            .photo {
                height: 200px;
            }
        }
    }
    #header-main {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 16px;
        }
    }
    #footer-main{
        width: 100%;
    }
}