#co-oferujemy {
    text-align: center;
    .container {
        .row {
            .offering {
                text-align: center;
                i {
                    font-size: 50px;
                }
                h3 {
                    font-size: 30px;
                }
                p{
                    font-size: 24px;
                }
            }
        }
    }
}